:host {
  grid-template-columns: 0 calc(100vw - 583px) auto;
  display: grid;
}

.workshop-controls-panel {
  position: sticky;
  top: 0;
  height: calc(100vh - 56px);
  width: 340px;
  border: 1px solid red;
}
