@use '@angular/material' as mat;
@use 'sass:color';
@use 'sass:map';

@mixin theme($theme) {
  $primary: map.get($theme, primary);
  $background: map.get($theme, background);
  $foreground: map.get($theme, foreground);
  $is-dark-theme: map.get($theme, is-dark);
  $nav-background-opacity: if($is-dark-theme, 0.2, 0.03);
  $nav-background-focus-opacity: if($is-dark-theme, 0.25, 0.08);

  // border-right: 1px solid mat.get-color-from-palette($foreground, divider);
  // background: rgba(mat.get-color-from-palette($primary, default), 0.15);
  // color: map.get($foreground, secondary-text);
  .ce-popover, .ce-settings {
    background-color: if($is-dark-theme, #424242, white);
    // background-color: white;
    // background-color: mat.get-color-from-palette($background, background);
    // border: 1px solid mat.get-color-from-palette($foreground, divider);
    border: none;
    color: rgba(mat.get-color-from-palette($foreground, secondary-text), 0.65);
    border-radius: 4px;
    @include mat.elevation(4);
  }

  .ce-toolbar__plus, .ce-toolbar__settings-btn {
    color: map.get($foreground, secondary-text);
    &:hover {
      background: rgba(mat.get-color-from-palette($primary, default), 0.15);
      color: color.adjust(
        mat.get-color-from-palette($primary, default),
        $lightness: if($is-dark-theme, 25%, 0%)
      );
      border-radius: 4px;
    }
  }

  .ce-popover__item-icon, .ce-settings__button, .cdx-settings-button {
    border-radius: 4px;
    background: none;
    border: none;
  }

  .ce-popover__item, .ce-settings__button, .cdx-settings-button {
    border-radius: 4px;
    &:hover {
      color: mat.get-color-from-palette($foreground, text);
      background-color: rgba(mat.get-color-from-palette($foreground, secondary-text), 0.04);
    }
  }

  .ce-popover__item--focused, .ce-settings__button, .cdx-settings-button  {
    box-shadow: none;
    // background: rgba(mat.get-color-from-palette($primary, default), 0.15)!important;
    // color: color.adjust(
    //   mat.get-color-from-palette($primary, default),
    //   $lightness: if($is-dark-theme, 25%, 0%)
    // );
    background: none!important;
    color: rgba(mat.get-color-from-palette($foreground, secondary-text), 0.65);
    &:hover {
      color: mat.get-color-from-palette($foreground, text);
      background: rgba(mat.get-color-from-palette($foreground, secondary-text), 0.04)!important;
    }
  }

  .cdx-search-field {
    background: if($is-dark-theme, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.04));
    color: mat.get-color-from-palette($primary, default-contrast);
    border-radius: 4px 4px 0 0;
    border: none;
    input {
      // rgba(0, 0, 0, 0.87)
      // color: mat.get-color-from-palette($primary, default-contrast);
      color: if($is-dark-theme,white, rgba(0, 0, 0, 0.87));
      &::placeholder {
        color: rgba(mat.get-color-from-palette($foreground, secondary-text), 0.6);
      }
    }
  }

  .cdx-search-field__icon .icon {
    color: rgba(mat.get-color-from-palette($foreground, secondary-text), 0.65);
  }

  .ce-block--selected .ce-block__content {
    background-color: rgba(mat.get-color-from-palette($primary, default), .4);
  }
}
