<div class="workshop-menu-nav">
  <div class="workshop-menu-nav-content">
    <mat-nav-list>
      <a mat-list-item routerLink="dashboard" routerLinkActive="workshop-menu-nav-item-selected">Dashboard</a>
      <a mat-list-item routerLink="users" routerLinkActive="workshop-menu-nav-item-selected">Users</a>
      <a mat-list-item *ngFor="let navItem of navList"
          [routerLink]="'/' + navItem.id"
          routerLinkActive="workshop-menu-nav-item-selected">
        {{navItem.name}}
        <div class="flex-spacer"></div>
        <mat-icon *ngIf="navItem.canDelete" class="delete-section-icon" (click)="deleteSection(navItem)">delete</mat-icon>
      </a>
      <a mat-list-item routerLinkActive="workshop-menu-nav-item-selected" (click)="createSection()">Create Section
        <div class="flex-spacer"></div>
        <mat-icon class="create-section-icon">note_add</mat-icon>
      </a>
    </mat-nav-list>
  </div>
</div>
