<!-- <ng-container *ngIf="!pageNotFound">
    Loading...
</ng-container>
<ng-container *ngIf="pageNotFound">
    <h1>Page Not Found</h1>
    <p>Create a new page or select another page.</p>
</ng-container> -->

<div class="page">
  <section class="container">
    <div class="mat-card">
      <h1>Overview</h1>
      <p>Angular, out of the box, has a powerful router that simply displays new components when accessing different URLs within the application. However, there are situations that the default functionality of the router can fall short of meeting business requirements. Like cracking an egg, there are numerous ways to work around some of this short coming. In this workshop we are going to look at the RouteReuseStrategy and how to use it to manipulate the default functionality of the Angular router. We will cover two scenarios in this workshop that Angular developers commonly use.</p>
    </div>
  </section>
</div>

<div class="page">
  <section class="container">
    <div class="mat-card">
      <editorjs></editorjs>
    </div>
  </section>
</div>